body {position: relative;padding-top: 70px;}
footer {border-top:1px solid #eee;height:100px; margin-top:25px;}
#editor {position: relative;height: 350px;width: 600px;}
#copyright {color:#888;font-size:12px;margin-top:25px;}
li.ellipsis {list-style: none;color:#888;margin-left:25px;}
.unnamed {color:#aaa}
.collapsable:hover {cursor: pointer}
.step-cell {padding:10px;min-height:130px !important;}
.snippet-module {margin-bottom:18px;border:1px solid #eee;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
.snippet-info {padding:13px 0 0 13px;background-color:#fefefe;-moz-border-radius:4px 4px 0 0;-webkit-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0;}
.snippet-info .download {-moz-border-radius:0 0 0 4px;-webkit-border-radius:0 0 0 4px;border-radius:0 0 0 4px;}
.snippet.prettyprint {margin-bottom:0;-moz-border-radius:0 0 4px 4px;-webkit-border-radius:0 0 4px 4px;border-radius:0 0 4px 4px;}
