{% from static import languages %}
{% from datetime import date %}
<div class="well">
    {% if editable %}
    {% if snippet['title'] %}
        {% set title = "%s: %s" % (snippet['language'], snippet['title']) %}
    {% else %}
        {% set title = "%s: unnamed" % snippet['language'] %}
    {% end %}
    <h3><a href="/snippet/{{ snippet['_id'] }}">{{ title }}</a></h3>
    {% else %}
    <h3>{{ snippet['language'] }}:&nbsp;{{ snippet['title'] }}</h3>
    {% end %}
    <h6>{{ snippet['created'].strftime("%B %d, %Y %H:%M:%S") }}</h6> 
    <p>{{ snippet['description'] }}</p>
    {% set lang = languages.get(snippet['language']) %}
    {% if not lang %}
        {% set lang = "" %}
    {% end %}
    <pre class="prettyprint linenums">
        <code class="lang-{{ lang }}">{{ snippet['snippet'] }}</code>
    </pre>
</div>
