{% extends "base.html" %}
{% block title %}Snippet Note | Browse{% end %}

{% block body %}
<div class="container-fluid">
    <div class="row-fluid">
        <div id="snippets" class="span9 columns">
            {% for snippet in snippets %}
            {% module Snippet(snippet) %}
            {% end %}
        </div>
        {% from languages import languages %}
        {% from tornado.escape import url_escape %}
        <div id="sidebar" class="span3 columns">
            <ul class="nav nav-list">
                <li class="nav-header">Languages</li>
                {% for language, extension in sorted(languages.items()) %}
                <li><a href="/browse?language={{ url_escape(language) }}">{{ language }}</li>
                {% end %}
            </ul>
        </div>
    </div>
</div>
{% end %}
