{% extends "base.html" %}
{% block title %}Snippet Note | Snippets{% end %}

{% block css %}
<link rel="stylesheet" href="{{ static_url("css/code-prettify/prettify.css") }}"/>
{% end %}

{% block scripts %}
<script type="text/javascript" src="{{ static_url("scripts/code-prettify/prettify.js") }}"></script>
<script type="text/javascript" src="{{ static_url("scripts/code-prettify/lang-clj.js") }}"></script>
<script type="text/javascript" src="{{ static_url("scripts/code-prettify/lang-css.js") }}"></script>
<script type="text/javascript" src="{{ static_url("scripts/code-prettify/lang-go.js") }}"></script>
<script type="text/javascript" src="{{ static_url("scripts/code-prettify/lang-hs.js") }}"></script>
<script type="text/javascript" src="{{ static_url("scripts/code-prettify/lang-lisp.js") }}"></script>
<script type="text/javascript" src="{{ static_url("scripts/code-prettify/lang-lua.js") }}"></script>
<script type="text/javascript" src="{{ static_url("scripts/code-prettify/lang-n.js") }}"></script>
<script type="text/javascript" src="{{ static_url("scripts/code-prettify/lang-proto.js") }}"></script>
<script type="text/javascript" src="{{ static_url("scripts/code-prettify/lang-scala.js") }}"></script>
<script type="text/javascript" src="{{ static_url("scripts/code-prettify/lang-sql.js") }}"></script>
<script type="text/javascript" src="{{ static_url("scripts/code-prettify/lang-tex.js") }}"></script>
<script type="text/javascript" src="{{ static_url("scripts/code-prettify/lang-vb.js") }}"></script>
<script type="text/javascript" src="{{ static_url("scripts/code-prettify/lang-vhdl.js") }}"></script>
<script type="text/javascript" src="{{ static_url("scripts/code-prettify/lang-wiki.js") }}"></script>
<script type="text/javascript" src="{{ static_url("scripts/code-prettify/lang-xq.js") }}"></script>
<script type="text/javascript" src="{{ static_url("scripts/code-prettify/lang-yaml.js") }}"></script>
<script type="text/javascript">
$(function() {
    prettyPrint();
});
</script>
{% end %}

{% block body %}
<div class="container-fluid">
    <div class="row-fluid">
        <div id="snippets" class="span9 columns">
            {% for snippet in snippets %}
            {% module Snippet(snippet) %}
            {% end %}
            <ul class="pager">
                {% from urllib import urlencode %}
                {% set previous_page_url = "/%s" % relative_url %}
                {% set url_params = {} %}
                {% if page > 0 %}
                    {% set url_params["page"] = (page - 1) %}
                {% end %}
                {% if language %}
                    {% set url_params["language"] = language %}
                {% end %}
                {% if url_params %}
                    {% set previous_page_url += "?%s" % urlencode(url_params) %}
                {% end %}
                {% set next_page_url = "/%s" % relative_url %}
                {% set url_params = {} %}
                {% if len(snippets) == 10 %}
                    {% set url_params["page"] = (page + 1) %}
                {% end %}
                {% if language %}
                    {% set url_params["language"] = language %}
                {% end %}
                {% if url_params %}
                    {% set next_page_url += "?%s" % urlencode(url_params) %}
                {% end %}
                {% if page > 0 %}
                <li class="previous">
                <a href="{{ previous_page_url }}">&larr; Older</a>
                </li>
                {% end %}
                {% if len(snippets) == 5 %}
                <li class="next">
                <a href="{{ next_page_url }}">Newer &rarr;</a>
                </li>
                {% end %}
            </ul>
        </div>
        {% from languages import languages %}
        <div id="sidebar" class="span3 columns">
            <ul class="nav nav-list">
                <li class="nav-header">Languages</li>
                <li><a href="/{{ relative_url }}">All Languages</a></li>
                {% for name, extension in sorted(languages.items()) %}
                <li><a href="/{{ relative_url }}?language={{ url_escape(name) }}">{{ name }}</a></li>
                {% end %}
            </ul>
        </div>
    </div>
</div>
{% end %}
