{% extends "base.html" %}

{% block title %}Snippet Note | Add Snippet{% end %}

{% block body %}
{% if snippet %}
    {% set title = snippet['title'] %}
    {% set description = snippet['description'] %}
    {% set language = snippet['language'] %}
    {% set code = snippet['snippet'] %}
    {% set action_url = "/snippet/%s" % snippet["_id"] %}
{% else %}
    {% set title, description, language, code = None, None, None, None %}
    {% set action_url = "/snippet" %}
{% end %}
<form action="{{ action_url }}" method="POST" class="well">
    <fieldset>
        {% raw xsrf_form_html() %}
        <div class="input-append" style="width: 600px;">
            <input name="title" type="text" placeholder="Title for this snippet"
                {% if title %}value="{{ title }}"{% end %}/><span class="add-on">Title</span>
            <select class="span2" name="language">
                {% from languages import languages %}
                {% for name, extension in sorted(languages.items()) %}
                    {% if language %}
                    <option value="{{ name }}" {% if name == language %}selected="true"{% end %}>
                            {{ name }}</option>
                    {% else %}
                    <option value="{{ name }}" {% if extension == "misc" %}selected="true"{% end %}>
                            {{ name }}</option>
                    {% end %}
                {% end %}
            </select>
        </div>
        <div class="input-append" style="width: 600px;">
            <input name="description" type="text" class="span5" 
                placeholder="Description of this snippet" 
                {% if description %}value="{{ description }}"{% end %}/><span 
                class="add-on">Description</span>
        </div>
        <textarea name="snippet" class="span8" style="height: 350px; width: 600px">
            {% if code %}{{ code }}{% end %}
        </textarea>
        <div class="form-actions">
            {% if snippet %}
            <button type="submit" class="btn">Save Snippet</button>
            {% else %}
            <button type="submit" class="btn">Create Public Snippet</button>
            <button type="submit" class="btn" name="private" value="private">Create Private Snippet</button>
            {% end %}
        </div>
    </fieldset>
</form>
{% end %}
